html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    width: 100vw;
    background-image: url('../image/cover_bg.png');
    background-size: calc(100vw + 500px);
    background-position: center 0;
    background-repeat: no-repeat;
}

/* main {
    width: 90%;
    margin: 0 auto;
    background-color: #ccc;
} */

/* =============== header =============== */
header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
}

#header {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bg_active {
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0.8);
}

.color_white_active {
    transition: color 1s;
    color: white;
}

.logo {
    width: 100%;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 1.5rem;
}

nav {
    width: 60%;
}

#nav_menu {
    display: flex;
}

/* #nav_menu>li {
    background-color: red;
} */

.hover-effect {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    display: block;
    padding: 30px 0 30px 60px;
    box-sizing: border-box;
    transition: color 0.3s ease;
    cursor: pointer;
}

/* nav a 호버 시 애니메이션 추가 */
.hover-effect:hover {
    animation: colorChange 1.5s infinite;
}

/* 색상 변화 애니메이션 */
@keyframes colorChange {
    0% {
        color: cadetblue;
    }

    25% {
        color: rosybrown;
    }

    50% {
        color: burlywood;
    }

    100% {
        color: cadetblue;
    }
}


#container_title {
    font-weight: 900;
    font-family: "Rubik Mono One", sans-serif;
    margin-bottom: 0.5em;
}

.about_title,
.skill_title,
.portfolio_title {
    /* 스크롤이벤트 속성 */
    transition: 1s ease-in-out;
    opacity: 0;
    transform: translateY(-0.5em);
}

#cover_container,
#about_container,
#skill_container,
#portfolio_container,
#contact_container {
    width: 100%;
    padding: 80px 0;
    /* border-bottom: 1px solid brown; */
    margin: 0 auto;
}

#cover_wrap,
#about_wrap,
#skill_wrap,
#portfolio_wrap,
#contact_wrap {
    margin: 0 auto;
}

/* 1.cover */
#cover_container {
    height: 100vh;
    /* background-color: beige; */
}

#cover_wrap {
    width: 80%;
    max-width: 1300px;
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: transform 0.5s ease-out;
    /* background-color: peachpuff; */
}

#cover_memo {
    width: 30%;
    position: relative;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease;
}

#cover_memo img {
    width: 100%;
    /* background-color: red; */
}

.cover_title1 {
    font-size: 15rem;
    line-height: 0.8em;
    margin-bottom: 0.05em;
}

.cover_title2 {
    font-size: 6rem;
    line-height: 1em;
}

.cover_title3 {
    font-size: 5.5rem;
    line-height: 1em;
}

.letterspace1 {
    margin-left: 0em;
    letter-spacing: -0.15em;
    /* background-color: khaki; */
}

.letterspace2 {
    margin-left: -1em;
    letter-spacing: -0.15em;
    /* background-color: pink; */
}

.cover_title4 {
    width: 100%;
    font-size: 10.5rem;
    line-height: 1em;
}

#cover_title .cover_title1,
#cover_title .cover_title2,
#cover_title .cover_title3,
#cover_wrap .cover_title4 {
    position: relative;
    left: -100px;
    opacity: 0;
    transition: all 0.5s ease;
}

/* 2.about */
#about_container {
    height: 100vh;
}

.about_title {
    font-size: 5rem;
    color: black;
    text-align: center;
    transition: 1s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

#about_wrap {
    width: 90%;
    max-width: 1400px;
    height: 80%;
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_left_content,
.about_right_content {
    width: 50%;
}

.about_left_content {
    height: 100%;
    position: relative;
    /* background-color: seagreen; */
    display: flex;
    align-items: center;
}

.me {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    border: 5px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url('../image/myimg.png');
    background-size: 87%;
    background-position: 75% -23%;
    background-repeat: no-repeat;
}

.about_right_content {
    /* background-color: red; */
    padding-left: 5%;
}

.about_right_content>h1 {
    font-size: 2.8rem;
    margin-bottom: 50px;
}

.about_right_content>p {
    font-size: 1.3rem;
    line-height: 1.5em
}

.about_keyword {
    padding: 0.5em 1.2em;
    background-color: black;
    border-radius: 2em;
    font-weight: 800;
    position: absolute;
    line-height: 1.1rem;
    color: #fff;
}

.keyword1 {
    font-size: 1.3em;
    top: 60%;
    left: 10%;
    /* 무빙 애니메이션 추가 */
    animation: aboutKeyword 1.5s infinite;
    transform: translateY(0);

}

.keyword2 {
    font-size: 1.5em;
    top: 0;
    left: 5%;
    /* 무빙 애니메이션 추가 */
    animation: aboutKeyword 2s infinite;
    transform: translateY(0);

}

.keyword3 {
    font-size: 1.8em;
    top: 20%;
    right: 0;
    /* 무빙 애니메이션 추가 */
    animation: aboutKeyword 2.5s infinite;
    transform: translateY(0);

}

/* 색상 변화 애니메이션 */
@keyframes aboutKeyword {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(-0px);
    }
}

/* 3.skill */
#skill_container {
    height: 100vh;
}

.skill_title {
    font-size: 5rem;
    color: black;
    text-align: center;
    transition: 1s ease-in-out;
}

#skill_wrap {
    width: 90%;
    height: 75%;
    max-width: 1400px;
    /* background-color: beige; */
    perspective: 1000px;
    /* 3D 효과를 위한 원근감 */
    display: flex;
    justify-content: space-between;
}

/* 카드 레이아웃 */
.card_left_wrap,
.card_right_wrap {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card2_wrap,
.card3_wrap {
    height: 48%;
}

.card3_wrap {
    margin-top: 3%;
}

/* 카드 */
.card {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s ease;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    padding: 50px;
    box-sizing: border-box;
}

.card-front {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* card-front 컨텐츠 */
.filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.filter img {
    width: 20%;
    min-width: 5em;
    height: auto;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 2%;
}

.card1_icon img {
    width: 30%;
    min-width: 5em;
}

.filter {
    filter: grayscale(1);
    transition: 1s;
}

.card_left_wrap:hover .filter {
    filter: grayscale(0);
}

.card2_wrap:hover .filter {
    filter: grayscale(0);
}

.card3_wrap:hover .filter {
    filter: grayscale(0);
}

/* card-back 컨텐츠 */
.card-back {
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    /* text-align: center; */
    transform: rotateY(180deg);
    /* 뒷면은 180도 회전 */
}

.align_center {
    text-align: center;
}

.card.flipped {
    transform: rotateY(180deg);
    /* 카드 뒤집기 */
}

/* 텍스트 스타일 */

h2 {
    font-size: 2rem;
    font-weight: 800;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1rem;
}

/* 4.portfolio */
#portfolio_container {
    /* background-color: khaki; */
}

.portfolio_title {
    font-size: 5rem;
    color: black;
    text-align: center;
}

#portfolio_wrap {
    width: 100%;
}

/* 4.portfolio 탭메뉴 시작 */
#portfolio_tap_menu {
    width: 100%;
}

#portfolio_tap_menu>ul {
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: relative;
}

#portfolio_tap_menu>ul>li {
    width: 100%;
    height: 80vh;
    /* border: 2px solid blue; */
}

#portfolio_tap_menu>ul>li.tap_active>a {
    width: 100%;
    padding: 0.5em 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    color: #fff;
    background-color: black;
    position: relative;
    margin-top: 0;
}

#portfolio_tap_menu>ul>li>a {
    width: 100%;
    display: block;
    padding: 0.5em 0;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    color: #999;
    border-top: 2px solid black;
    background-color: #fff;
    margin-top: 0.5em;
}

/* 탭메뉴 컨텐츠 */
#portfolio_tap_menu>ul>li.tap_active .portfolio_tap_content {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute;
    top: 4em;
    left: 0;
    display: block;
    background-color: black;
    padding: 4em 0;
}

#portfolio_tap_menu>ul>li .portfolio_tap_content {
    display: none;
}

.tap_active {
    display: block;
}

/* swiper Demo styles */
.swiper {
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: start;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* web - site style */
.web {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    /* border: 2px solid red; */
    padding: 1em 0;
}

/* 사이트 이미지 */
#web_img_wrap {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    /* border: 4px solid blue; */
}

/* 사이트 화면 */
#site_img {
    width: 100%;
    overflow: hidden;
    /* border: 4px solid red; */
}

.site_img {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-out;
    transform: translate(0, 0);
    /* 기본 상태 */
}

#web_img_wrap:hover #web_btn {
    opacity: 1;
}

#web_img_wrap:hover .site_img {
    transform: translateY(-70em);
}

/* 버튼 화면 */
#web_btn {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    opacity: 0;
    /* border: 4px solid blue; */
}


#web_btn1,
#web_btn2 {
    padding: 0.5em 1.5em;
    background-color: seagreen;
    color: white;
    border-radius: 2rem;
    margin: 0 0.5em;
    cursor: pointer;
}

#web_btn1:hover,
#web_btn2:hover {
    font-weight: 800;
}

/* web - 텍스트 스타일 */
.web_text_wrap {
    width: 50%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    color: #fff;
    padding: 2.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

/* 텍스트 개별 스타일 */
.web_text_wrap h3 {
    font-size: 3rem;
    line-height: 1.2em;
    margin-bottom: 1.5vw;
    font-weight: 600;
}

.sub_text1 {
    font-size: 1.5rem;
    margin-bottom: 3vw;
    line-height: 1.2em
}

.sub_text2 {
    font-size: 1rem;
    margin-bottom: 0
}

/* edit - book style */
.book {
    position: relative;
    width: 90%;
    aspect-ratio: 1 / 1.5;
    perspective: 1000px;
    /* 원근감 설정 */
    transform-style: preserve-3d;
    cursor: pointer;
    margin-left: 5%;
}

.bookCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    /* 왼쪽을 기준으로 회전 */
    transform: rotateY(0deg);
    /* 기본 상태 */
    z-index: 2;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding-top: 2.5em;
    line-height: 1em;
}

/* 책 옆면 (책등) */
.bookSide {
    position: absolute;
    width: 25%;
    /* 책등 두께 */
    height: 100%;
    background-color: #777;
    left: -25%;
    /* 책등 위치 */
    transform-origin: right;
    /* 오른쪽을 기준으로 회전 */
    transition: transform 0.5s ease-in-out;
    transform: rotateY(-90deg);
    /* 기본 상태 */
    z-index: 1;
}

/* 호버 효과 */
.book:hover .bookCover {
    transform: rotateY(10deg);
}

.book:hover .bookSide {
    transform: rotateY(-60deg);
}

/* 포트폴리오 탭메뉴 끝 */

/* 5.contact */
#contact_container {
    height: 65vh;
    padding: 3rem 0;
}

#contact_wrap {
    width: 90%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_title_h1 {
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    /* background-color: skyblue; */
}

.motion_bounce {
    display: inline-block;
    animation: bounce 2s ease-in-out infinite;
    /* 애니메이션 반복 */
    transform-origin: bottom;
    /* 움직임의 기준점 */
}

/* 각 span의 지연 시간 */
.motion1 {
    animation-delay: 0s;
}

.motion2 {
    animation-delay: 0.1s;
}

.motion3 {
    animation-delay: 0.2s;
}

.motion4 {
    animation-delay: 0.3s;
}

.motion5 {
    animation-delay: 0.4s;
}

.motion6 {
    animation-delay: 0.5s;
}

.motion7 {
    animation-delay: 0.6s;
}

/* 애니메이션 정의 */
@keyframes bounce {

    0%,
    20% {
        transform: translateY(0);
        /* 시작 위치 */
    }

    50% {
        transform: translateY(-20px);
        /* 올라가는 위치 */
    }

    80%,
    100% {
        transform: translateY(0);
        /* 정지 상태 */
    }
}


#contact_info {
    width: 100%;
    height: auto;
    margin-top: -2em;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: khaki; */
}

.visible {
    opacity: 1;
}

.contact_name {
    font-size: 5rem;
    font-weight: 700;
    display: block;
    margin-right: 5%;
}

.contact_num {
    font-size: 1.7rem;
    display: block;
}

/* 흐르는 텍스트 */
.contact_flowtext1,
.contact_flowtext2 {
    width: 110%;
    margin: 0 auto;
    position: relative;
    left: 0;
}

.motion_flow1,
.motion_flow2 {
    position: relative;
    width: 2400px;
    font-weight: bold;
    animation: flow-animation 5s linear infinite;
}

.contact_flowtext1 {
    transform: rotate(3deg);
    position: relative;
    top: 0vh;
}

.motion_flow1 {
    display: flex;
    justify-content: center;
    animation: flow-animation 15s linear infinite;
}

.motion_flow1 p {
    width: 200px;
    color: #fff;
    letter-spacing: 0.5em;
    background-color: black;
    padding: 10px;
}

.contact_flowtext2 {
    height: 2.5em;
    background-color: #fff;
    border: 2px solid black;
    transform: rotate(-2deg);
    position: relative;
    top: -5vh;
}

.motion_flow2 {
    display: flex;
    justify-content: center;
    animation: flow-animation 5s linear infinite;
}

.motion_flow2 p {
    width: 200px;
    color: black;
    letter-spacing: 0.5em;
    padding: 10px;
}

@keyframes flow-animation {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
        /* 텍스트 width와 동일 */
    }
}

#contact_copyright {
    width: 100%;
    height: 5em;
    line-height: 5em;
    text-align: center;
    color: #333;
}

/* ~~~~~~~~~~~~~~~~~~ end ~~~~~~~~~~~~~~~~~~ */

/* 4.portfolio - 프로젝트 상세보기 모달 */
.project_modal_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.project_modal {
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: relative;
    margin-top: 2.5%;
    margin-left: 5%;
}

#web_modal_close {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.scroll {
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.scroll>p {
    background-color: #ccc;
    width: 100%;
    height: 1200px;
}

/* 상단이동 */
#top {
    position: fixed;
    right: 5vw;
    bottom: 3vw;
    border-radius: 50%;
    width: 6%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}